* {
    box-sizing: border-box;
}
html {
    font-family: 'Cormorant', serif;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;

    padding: 25px 100px 25px 100px;
    width: 100%;
}

.imgicon {
    width: 90px;
    height: 30px;
}

.allul{
    list-style: none outside;
    font-size: 20px;
    line-height: 28px;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
}

.allli{
    margin: 0px 0px 0px 25px;
}

.allli:first-child {
    margin: 0px;
}

.linknav {
    color: #ffffff;
    text-decoration: none;   
}

.lisign {
    border: 1px solid #ffffff;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}


.intro {
    background-image: url(./video-cover.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.h1intro {
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;

    margin: 0px 0px 39px 0px;
}

.playicon {
    width: 100px;
    height: 100px;
}

.pintro {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;

    margin: 20px 0px 0px 0px;
}









.pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 200px 387px 200px 387px;
}

.h2pay {
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    margin: 0px;
}

.p1pay {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);

    margin: 10px 0px 120px 0px;
}

.allicon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.imgandtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 0px 122px;    
}

.imgandtext:first-child {
    margin: 0px;
}

.imgpay {
    width: 138px;
    height: 138px;
}

.ppay {
    font-size: 24px;
    line-height: 40px;
    color: #3628BB;
}

.button {
    padding: 25px 70px 21px 70px;
    margin: 110px 0px 0px 0px;

    background-image: linear-gradient(258.3deg, #1649CC 0%, #520CAB 100%);
    border-radius: 35px;
    box-shadow: 0px 4px 40px #342ABC;
    border: 0;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-transform: uppercase;
}

.button:focus {
    outline: none;
    box-shadow: -5px 6px 32px 10px #342ABC;
}









.stats {
    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 382px 190px 382px;
}

.h2stats {
    font-size: 36px;
    line-height: 60px;
    text-align: center;

    margin: 0px;
}

.pstats {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); 
    
    margin: 10px 0px 120px 0px;
}

.ptext {
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.35);

    margin: 0px;
}

.pnumber {
    /* width: 306px;
    height: 99px; */
    font-size: 100px;
    line-height: 117px;
    color: rgba(54, 40, 187, 0.6);

    margin: 0px;
}

.numberandtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 0px 0px 0px 151px;
}

.numberandtext:first-child {
    margin: 0px;
}

