* {
    box-sizing: border-box;
}
html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0px;
}

.container-nav {
    width: 100%;
    background-color: #F4F9E2;

    position: absolute;
    top: 0px;
    left: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 27px 180px 27px 180px;
}

.logo {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;  
    
    margin: 0;
}

.navigation {
    list-style: none outside;

    display: flex;

    margin: 0;
    padding: 0;
}

.link-navigation {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
}

.link-margin {
    margin-left: 15px;
}

.link-margin:first-child {
    margin: 0;
}

.link-navigation:hover {
    border-bottom: 1px solid #22356F;
}

.button {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    align-items: center;
    color: #ffffff;
    border: 0;

    background-color: #62D0DF;
    border-radius: 50px;

    padding: 20px 30px 20px 30px;   
}

.button:focus {
    outline: none;
    box-shadow: -5px 6px 32px 10px #62D0DF;
}








.container {
    background-color: #F4F9E2;
    padding-right: 178px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.intro-position {
    position: relative;
}

.img-header {
    width: 100%;
    max-width: 525px;
}

.logo-header {
    margin-bottom: 40px;
}

.name-header {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;

    margin-bottom: 67px;
    margin-top: 0px;
}

.text {
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
    text-align: justify;
}

.text-header {
    margin-bottom: 63px;
    margin-top: 0px;

    width: 100%;
    max-width: 469px;
}

.link-field {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-decoration: none;
    background-color: #F9B640;

    padding: 10px 30px;
}

.link {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FAB63E;
    text-decoration: none;

    margin-left: 38px;
}










.history {
    background-color: #62D0DF;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 178px;
}

.container-history {
    display: flex;
    flex-direction: column;
}

.header-history {
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: #ffffff;

    margin-bottom: 75px;
    margin-top: 0;
}

.text-history {
    font-size: 24px;
    line-height: 35px;
    color: #ffffff;
    text-align: justify;

    width: 100%;
    max-width: 555px;

    margin: 0;
}

.text-highlight {
    font-weight: 300;
}

.img-history {
    width: 100%;
    max-width: 525px;
}









@media screen and (max-width: 1328px) {
    .history {
        padding-left: 28px;
    }
    .container {
        padding-right: 38px;
    }
}